body {
  height:100vh;
  width:100%;
  background-image:url("Images/background_image.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
    
}
#root{
    position:relative;
}

.example{
  position:absolute;
  top:30vh;
  margin-left:30%;
}

#list-item{
  border-radius: 10px;
  padding: 10px;
}
form{
  padding:20px;
}


/* -------------  MENU/LEFT SIDE BAR ---------- */
.wrapper {
  display: flex;
  align-items: stretch;
  justify-content:center;
  min-height: 100vh;
  width: 20vw;
  float: left;
  padding: 20px;
}
  
#sidebar {
  max-width: 250px;
  height:100vh;
  background: rgb(99, 100, 107);
  border-radius:10px;
  opacity:0.5;
  color: #fff;
  transition: all 0.3s;
}
  
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}
  
#sidebar.active {
  margin-left: -250px;
}
  
#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}


/* ------------ MAIN CONTAINER (RIGHT HAND SIDE) --------- */
.mainContainer {
  min-height: 100vh;
  float: right;
  width: 78vw;
}


/* ---------- ENTER A NEW ITEM -------------- */
.EnterNewItem {
  width: 100%;
  padding: 2vw;
  justify-content: space-evenly;
}

.addNewItemText {
  margin: 1vw;
  width: 50vw;
}

/* -------------- MAIN LIST ------------- */
.toDoListContainer {
  width: 100%;
}

.main-list {
  width: 100%;
}

.main-list > li {
  background: black;
  color: white;
  font-size: 18px;
  margin-top: 1vh;
  margin-left: -18px;
  opacity: 0.8;
}

li {
  list-style: none;
}